# Client Rust
target/*
!target/!bundle.js
!target/!bundle_version

# Client Node
node_modules/

# ---

# Server
server/node_modules

# Config
server/config/config.custom.ts

# DB
server/data/*.db
server/data/*.db-shm
server/data/*.db-wal
