# Client Rust
target/*
!target/!bundle.js
!target/!bundle_version
_docs/

# Client Node
node_modules/

.claude/settings.local.json

# ---

# Server
server/node_modules

# Config
server/config/config.custom.ts

# DB
server/data/*.db
server/data/*.db-shm
server/data/*.db-wal
