<div id="kuteKeystrokesKeys">
    <div class="kuteKey" id="kuteKeyMelee"></div>
    <div class="kuteKey" id="kuteKeyForward"></div>
    <div class="kuteKey" id="kuteKeySwap"></div>
    <div class="kuteKey" id="kuteKeyReload"></div>
    <div class="kuteKey" id="kuteKeyLeft"></div>
    <div class="kuteKey" id="kuteKeyBack"></div>
    <div class="kuteKey" id="kuteKeyRight"></div>
    <div class="kuteKey" id="kuteKeyCrouch"></div>
    <div class="kuteKey" id="kuteKeyJump"></div>
</div>
<div id="kuteMouseBox">
    <div class="kuteMove" id="kuteMoveLeft"></div>
    <div class="kuteMove" id="kuteMoveRight"></div>
    <div class="kuteMove" id="kuteMoveUp"></div>
    <div class="kuteMove" id="kuteMoveDown"></div>
    <div id="kuteMouse">
        <div id="kuteMouseLeft"></div>
        <div id="kuteMouseRight"></div>
        <div id="kuteMouseSplit"></div>
        <div id="kuteWheel">
            <div id="kuteWheelUp"></div>
            <div id="kuteWheelDown"></div>
        </div>
    </div>
</div>
